{{define "content"}}
<section id="cafe" class="hero-slider home-hero" data-carousel>
    <div class="carousel-cell" style="background-image: url(../static/2022/img/cafe-bg.jpg)">
        <div class="slide-content">
            <div class="hero-logo">
                <a href="./">
                    <img src="../static/2022/icons/logo-full.svg" alt="Luks Lofts Hotel Logo">
                </a>
            </div>

            <div class="hero-headings narrow">
                <h1 class="hero-heading__title explore-btn">LUKS CAFÉ</h1>

                <p class="luks-lead">Luks Café is an in-room culinary experience accessible through our Luks Device.</p>
            </div>
        </div>

        <div hidden class="hero-bottom-text">
            <p>
                Luks Café is an in-room culinary experience accessible through our Luks Device. Enjoy unparalleled
                5-star gourmet from around the world in the comforts and privacy of your loft with just a tap.
            </p>
        </div>
    </div>
</section>

<section class="s-section section--cafe">
    <div class="cafe-content__header bit-wide">
        <h1 class="cafe-content__heading">Share your culinary indulgence at Luks Café</h1>

        <p class="luks-lead">Enjoy unparalleled 5-star gourmet from around the world in the comforts and privacy of your
            loft with just a tap.</p>

        <div class="cafe-content__header-hashtags">
            <div class="cafe-content__header-hashtag"><a href="https://twitter.com/">#LuxuriousDining</a></div>
            <div class="cafe-content__header-hashtag"><a href="https://www.instagram.com/luksloftphilippines/"
                    target="_blank">@LuksLoftsHotel</a></div>
        </div>

        <a hidden href="https://twitter.com/" target="_blank" title="Find Luks Cafe on Twitter"
            class="lukslofts-btn secondary-btn red-sec">#LuxuriousDining</a>
        <a hidden href="https://www.instagram.com/luksloftphilippines/" target="_blank"
            title="Find Luks Lofts Hotel on Instagram" class="lukslofts-btn secondary-btn red-sec">@LuksLoftsHotel</a>
    </div>

    <div class="swiper cafeSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cafe-content__images">
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-01.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-02.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-03.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-04.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-05.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-06.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-07.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-08.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cafe-content__images">
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-09.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-10.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-11.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-12.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-13.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-14.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-15.png" alt="">
                    </div>
                    <div class="cafe-content__image">
                        <img src="../static/2022/img/cafe/cafe-16.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lukslofts-contact">
    <div class="row section-wrapper" data-aos="fade-up">
        <div class="col-sm-12 contact-box">
            <h3 class="contact-box-text">LET US BOOK YOUR UNFORGETTABLE STAY</h3>

            <a href="contact.html" class="lukslofts-btn secondary-btn light-sec">Contact Us</a>
        </div>
    </div>
</section>
{{end}}
{{define "script"}}
{{end}}