{{define "content"}}
<section class="gallery-content__wrapper">
    <section id="gallerypage" class="hero-section">
        <div class="container">
            <section class="background">
                <div class="content-wrapper home-content__main">
                    <div class="content-overlay">
                        <p class="content-title">Gallery</p>
                        <p class="content-subtitle">Giving you Leisure and Art at it’s finest</p>
                    </div>
                </div>
            </section>
            <section class="background hide-on-mobile">
                <div class="content-wrapper home-content__main">
                    <div class="content-overlay">
                        <p class="content-title second-bg">The Picturesque <br /> of Luxury</p>
                        <a id="exploreBtn" class="lukslofts-btn primary-btn rounded-btn">Explore</a>
                    </div>
                </div>
            </section>
        </div>

    </section>
    <section class="hero-section">
        <div class="mobile-vid__section">
            <div class="content-overlay">
                <p class="content-title second-bg">The Picturesque <br /> of Luxury</p>
                <a id="exploreBtn" class="lukslofts-btn primary-btn rounded-btn mobile-btn">Explore</a>
            </div>
        </div>

    </section>
    <section id="sectionPin" class="s-section section--loft">
        <div class="pin-wrap pin-wrap__lobby">
            <div class="left-arrow arrow-left__visible" data-arrow__left0>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M15 18l-6-6 6-6" />
                </svg>
            </div>
            <div>
                <h1 class="hero-heading__title">Exquisite & Luxurious</h1>
                <p class="">Discover the perfect balance of harmony and comfort.</p>
            </div>
            <img src="2022/img/gallery/lobby/1.png" alt="luxury loft bedroom">
            <img src="2022/img/gallery/lobby/2.png" alt="">
            <!-- <img src="2022/img/gallery/lobby/3.png" alt=""> -->
            <img src="2022/img/gallery/lobby/4.png" alt="">
            <img src="2022/img/gallery/lobby/5.png" alt="">
            <img src="2022/img/gallery/lobby/6.png" alt="">
            <img src="2022/img/gallery/lobby/7.png" alt="">
            <img src="2022/img/gallery/lobby/8.png" alt="">
            <div class="right-arrow right-arrow420" data-arrow__right0>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="100" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 18l6-6-6-6" />
                </svg>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper mySwiper">
                <h1 class="swiper-title">Exquisite & Luxurious</h1>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/1.png" alt="luxury loft bedroom"></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/2.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/4.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/5.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/6.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/7.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/lobby/8.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>



    <section id="sectionPin" class="s-section section--loft">
        <div class="pin-wrap pin-wrap__top">
            <div class="left-arrow" data-arrow__left1>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M15 18l-6-6 6-6" />
                </svg>
            </div>
            <div>
                <h1 class="hero-heading__title">Luxury Loft</h1>
                <p class="">Our smart Business Loft makes mixing business with leisure an easy but luxurious one.</p>
            </div>
            <img src="2022/img/gallery/luxury-loft/luxury-01.png" alt="luxury loft bedroom">
            <img src="2022/img/gallery/luxury-loft/luxury-02.png" alt="">
            <img src="2022/img/gallery/luxury-loft/luxury-03.png" alt="">
            <img src="2022/img/gallery/luxury-loft/luxury-04.png" alt="">
            <img src="2022/img/gallery/luxury-loft/luxury-05.png" alt="">
            <div class="right-arrow arrow-left__visible" data-arrow__right1>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="100" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 18l6-6-6-6" />
                </svg>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper mySwiper">
                <h1 class="swiper-title">Luxury Loft</h1>
                <div class="swiper-wrapper" name="pukee">
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-01.png"
                            alt="luxury loft bedroom"></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-02.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-03.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-04.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-05.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section id="sectionPin" class="s-section section--loft" hidden>
        <div class="pin-wrap pin-wrap__right">
            <div class="left-arrow arrow-left__visible" data-arrow__left2>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M15 18l-6-6 6-6" />
                </svg>
            </div>
            <div>
                <h1 class="hero-heading__title">Business Loft</h1>
                <p class="">Our smart Business Loft makes mixing business with leisure an easy but luxurious one.</p>
            </div>
            <img src="2022/img/gallery/luxury-loft/luxury-01.png" alt="luxury loft bedroom">
            <img src="2022/img/gallery/luxury-loft/luxury-02.png" alt="">
            <img src="2022/img/gallery/luxury-loft/luxury-03.png" alt="">
            <img src="2022/img/gallery/luxury-loft/luxury-04.png" alt="">
            <img src="2022/img/gallery/luxury-loft/luxury-05.png" alt="">
            <div class="right-arrow" data-arrow__right2>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 18l6-6-6-6" />
                </svg>
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper mySwiper">
                <h1 class="swiper-title">Business Loft</h1>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-01.png"
                            alt="luxury loft bedroom"></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-02.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-03.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-04.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/luxury-loft/luxury-05.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!-- * honeymoon loft -->
    <section id="sectionPin" class="s-section section--loft section-bottom">
        <div class="pin-wrap pin-wrap__bottom">
            <div class="left-arrow  arrow-left__visible" data-arrow__left3>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M15 18l-6-6 6-6" />
                </svg>
            </div>
            <div>
                <h1 class="hero-heading__title">Honeymoon Loft</h1>
                <p class="">Our smart Honeymoon Loft is a 100-sqm suite exuding intimacy as the bedroom looks onto the
                    private jet pool area.</p>
            </div>
            <img src="2022/img/gallery/honeymoon-loft/1.png" alt="luxury loft bedroom">
            <img src="2022/img/gallery/honeymoon-loft/2.png" alt="">
            <img src="2022/img/gallery/honeymoon-loft/3.png" alt="">
            <img src="2022/img/gallery/honeymoon-loft/4.png" alt="">
            <img src="2022/img/gallery/honeymoon-loft/5.png" alt="">
            <div class="right-arrow" data-arrow__right3>
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none"
                    stroke="#8e8686" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 18l6-6-6-6" />
                </svg>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper mySwiper">
                <h1 class="swiper-title">Honeymoon Loft</h1>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="2022/img/gallery/honeymoon-loft/1.png"
                            alt="luxury loft bedroom"></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/honeymoon-loft/2.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/honeymoon-loft/3.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/honeymoon-loft/4.png" alt=""></div>
                    <div class="swiper-slide"><img src="2022/img/gallery/honeymoon-loft/5.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="hero-section">
        <div class="gallery-vid__section">
            <div class="content-overlay">
                <p class="content-title second-bg">Memorable Stories</p>
            </div>
        </div>

    </section>
    <section id="vid-section" class="s-section section--loft">

        <div class="video-container">
            <div class="main-video">
                <div class="video">
                    <iframe width="900" height="515" src="https://www.youtube.com/embed/Tkhr71vXw3Q"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Luxury Getaway to Batangas, Phillipines at Luks Lofts Hotel</h3>
                </div>
            </div>
            <div class="video-list">
                <div class="video active">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/Tkhr71vXw3Q"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Luxury Getaway to Batangas, Phillipines at Luks Lofts Hotel</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/qFA87Uv83iE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">5 Star Hotel Manila - LUKS LOFTS HOTEL</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/BuDhdMmYHDo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Come Experience Luks Lofts Hotel</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/42E47Z6Cl3s"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Girls Night Out at Luks Lofts Hotel</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/RYrRJftutto"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Five Star Luxury Hotel In The Philippines</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/yP8GnjiBHew"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Luks Lofts Hotel Experience at Batangas City</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/B4lEnBbBtWw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Pinoy MD: Luxury hotel sa Batangas</h3>
                </div>
                <div class="video">
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/UH0Kg4wwyYo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3 class="title">Explore Lukslofts Hotel</h3>
                </div>

            </div>

        </div>
    </section>

</section>
<section class="lukslofts-contact">
    <div class="row section-wrapper" data-aos="fade-up">
        <div class="col-sm-12 contact-box">
            <h3 class="contact-box-text">LET US BOOK YOUR UNFORGETTABLE STAY</h3>

            <a href="contact.html" class="lukslofts-btn secondary-btn light-sec">Contact Us</a>
        </div>
    </div>
</section>
{{end}}

{{define "script"}}
{{end}}