{{define "content"}}

<section id="lofts" class="hero-slider home-hero" data-carousel>
    <div class="carousel-cell" style="background-image: url(../static/2022/img/lofts-bg.jpg)">
        <div class="slide-content">
            <div class="hero-logo">
                <a href="./">
                    <img src="../static/2022/icons/logo-full.svg" alt="Luks Lofts Hotel Logo">
                </a>
            </div>

            <div class="hero-headings">
                <h1 class="hero-heading__title explore-btn">Smart Lofts</h1>

                <h3 class="hero-heading__subtitle">Welcome to the Future</h3>

                <p class="luks-lead">
                    Advanced facial recognition room access | Digital Butler| Video intercom | 49" smart TV | Overall room control through Luks Device
                </p>
            </div>
        </div>

        <div hidden class="hero-bottom-text">
            <p>
                The lofts are distinctively programmed to transport you to an avant garde, digital-inspired space with the following features:
            </p>

            <p>
                Advanced facial recognition room access | Digital butler | Video intercom | 49” smart TV with video streaming service Overall room control through one device
            </p>
        </div>
    </div>
</section>

<section class="s-section section--lofts">
    <div class="row section-wrapper">
        <div class="col-sm-12 lofts-card__header">
            <p>The lofts are distinctively programmed to transport you to an avant garde, digital-inspired space.</p>

            <h1 class="luks-heading">Bleisure at your own pace</h1>
            <p class="luks-lead">Traveling for business & leisure? Designated work spaces are available in each loft so you will never miss any urgent meeting. Connect to our reliable, fast, and free internet connection up to 600mbps. Enjoy endless connectivity by simply scanning the assigned QR code shown in your room’s main television screen.</>
            
            <h1 class="luks-heading">A myriad of amenities</h1>
            <p class="luks-lead">As envoys of luxury hospitality, we will make your stay truly reinvigorating with countless amenities from welcome drink to turndown.</p>

            <p class="luks-lead">We understand that you might be more comfortable using your own device. You may choose to turn your smartphones into Luks Devices for a more relaxing room control option.</p>
        </div>
    </div>

    <div class="lofts-cards">
        <div class="lofts-card">
            <div class="lofts-card__link">
                <a href="luxury.html">
                    <div class="lofts-card__picture">
                        <img src="../static/2022/img/lofts/lofts-card--luxury.png" alt="">
                    </div>

                    <div class="lofts-card__text">
                        <h1 class="lofts-card__heading">Luxury Loft</h1>

                        <div class="lofts-card__icon">
                            <img src="../static/2022/icons/logo--outlined.svg" alt="">
                        </div>

                        <div class="lofts-card__features">
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="./../static/2022/img/lofts/loft-icon--area-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">85 SQM/915 SFT</div>
                            </div>
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="../static/2022/img/lofts/loft-icon--guest-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">4 Max Guests</div>
                            </div>
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="../static/2022/img/lofts/loft-icon--bedroom-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">2 Bedroom</div>
                            </div>
                        </div>

                        <div class="lofts-card__action">
                            <a href="luxury.html" class="lukslofts-btn secondary-btn">Book your Luxury Loft</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="lofts-card">
            <div class="lofts-card__link">
                <a href="business.html">
                    <div class="lofts-card__picture">
                        <img src="../static/2022/img/lofts/lofts-card--business.png" alt="">
                    </div>

                    <div class="lofts-card__text">
                        <h1 class="lofts-card__heading">Business Loft</h1>

                        <div class="lofts-card__icon">
                            <img src="../static/2022/icons/logo--outlined.svg" alt="">
                        </div>

                        <div class="lofts-card__features">
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="./../static/2022/img/lofts/loft-icon--area-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">85 SQM/915 SFT</div>
                            </div>
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="../static/2022/img/lofts/loft-icon--guest-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">4 Max Guests</div>
                            </div>
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="../static/2022/img/lofts/loft-icon--bedroom-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">2 Bedroom</div>
                            </div>
                        </div>

                        <div class="lofts-card__action">
                            <a href="business.html" class="lukslofts-btn secondary-btn">Book your Business Loft</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="lofts-card">
            <div class="lofts-card__link">
                <a href="honeymoon.html">
                    <div class="lofts-card__picture">
                        <img src="../static/2022/img/lofts/lofts-card--honeymoon.png" alt="">
                    </div>

                    <div class="lofts-card__text">
                        <h1 class="lofts-card__heading">Honeymoon Loft</h1>

                        <div class="lofts-card__icon">
                            <img src="../static/2022/icons/logo--outlined.svg" alt="">
                        </div>

                        <div class="lofts-card__features">
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="./../static/2022/img/lofts/loft-icon--area-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">100 SQM/1077 SFT</div>
                            </div>
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="../static/2022/img/lofts/loft-icon--guest-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">2 Max Guests</div>
                            </div>
                            <div class="lofts-card__feature">
                                <div class="lofts-card__feature-icon">
                                    <img src="../static/2022/img/lofts/loft-icon--bedroom-dark.svg" alt="">
                                </div>
                                <div class="lofts-card__feature-text">1 Bedroom</div>
                            </div>
                        </div>

                        <div class="lofts-card__action">
                            <a href="honeymoon.html" class="lukslofts-btn secondary-btn">Book your Honeymoon Loft</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="lukslofts-contact">
    <div class="row section-wrapper" data-aos="fade-up">
        <div class="col-sm-12 contact-box">
            <h3 class="contact-box-text">LET US BOOK YOUR UNFORGETTABLE STAY</h3>

            <a href="contact.html" class="lukslofts-btn secondary-btn light-sec">Contact Us</a>
        </div>
    </div>
</section>
{{end}}

{{define "script"}}
{{end}}