{{define "content"}}
<section id="spa" class="hero-slider home-hero" data-carousel>
    <div class="carousel-cell" style="background-image: url(../static/2022/img/spa-bg.jpg)">
        <div class="slide-content">
            <div class="hero-logo">
                <a href="./">
                    <img src="../static/2022/icons/logo-full.svg" alt="Luks Lofts Hotel Logo">
                </a>
            </div>

            <div class="hero-headings">
                <h1 class="hero-heading__title explore-btn">Luks Spa</h1>

                <p class="luks-lead">In-room treatments</p>
            </div>
        </div>
    </div>
</section>

<section class="s-section section--spa">
    <div class="row section-wrapper">
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="spa-text">
                <h1 class="spa-text__heading">Luxuriate</h1>
                <h3 class="spa-text__subheading">#LuksWellness</h3>

                <p class="spa-text__lead">
                    Recharge and rejuvenate right from the comforts of your loft. Luks Spa offers in-room treatments
                    delivered into your lofts by our internationally-trained therapists and nail technicians.
                </p>

                <p class="spa-text__lead">
                    Book your treatments upon check-in or through your assigned Luks Device. A more extensive spa
                    facility will pamper you soon.
                </p>

                <div class="spa-services">
                    <div class="spa-service" data-toggle="modal" data-target="#spaModal">
                        <div class="spa-service__icon">
                            <img src="../static/2022/icons/spa-hf.svg" alt="">
                        </div>
                        <div class="spa-service__text">Hand &amp; Foot</div>
                    </div>
                    <div class="spa-service" data-toggle="modal" data-target="#spaModal1">
                        <div class="spa-service__icon">
                            <img src="../static/2022/icons/spa-massage.svg" alt="">
                        </div>
                        <div class="spa-service__text">Massage</div>
                    </div>
                </div>

                <p class="spa-text__lead">A more extensive spa facility will pamper you soon.</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-7 spa-media__images-wrapper">
            <div class="spa-media__images">
                <div class="spa-media__image">
                    <img src="../static/2022/img/spa/spa-01.png" alt="Woman drinking tea">
                </div>
                <div class="spa-media__image">
                    <img src="../static/2022/img/spa/spa-02.png" alt="Spa and massage session">
                </div>
                <div class="spa-media__image">
                    <img src="../static/2022/img/spa/spa-03.png" alt="Woman in a pool">
                </div>
            </div>
            <div class="spa-media__text">
                <h1 class="spa-media__heading">Reconnect</h1>
            </div>
        </div>
    </div>
</section>

<section class="lukslofts-contact">
    <div class="row section-wrapper" data-aos="fade-up">
        <div class="col-sm-12 contact-box">
            <h3 class="contact-box-text">LET US BOOK YOUR UNFORGETTABLE STAY</h3>

            <a href="contact.html" class="lukslofts-btn secondary-btn light-sec">Contact Us</a>
        </div>
    </div>
</section>
{{end}}

{{define "script"}}
{{end}}