{{define "content"}}


<section id="standard" class="hero-slider home-hero" data-carousel>
    <div class="carousel-cell" style="background-image: url(../static/2022/img/standard-bg.jpg)">
        <div class="slide-content">
            <div class="hero-logo">
                <a href="./">
                    <img src="../static/2022/icons/logo-full.svg" alt="Luks Lofts Hotel Logo">
                </a>
            </div>

            <div class="hero-headings">
                <h1 class="hero-heading__title explore-btn">The Luks Lofts Hotel Standard</h1>

                <p class="luks-lead">Luks Lofts Hotel is the only 5-star hotel in Batangas City, Philippines that uses state-of-the-art technology in providing luxury hospitality and an upscaled guest experience.</p>
            </div>
        </div>

        <div class="hero-bottom-text">
            <div class="standard-icons">
                <div class="standard-icons__img standard-icons__img--fsa">
                    <img src="../static/2022/icons/footer-company-icons/footer-fsa.png" alt="">
                </div>
                <div class="standard-icons__img standard-icons__img--lg">
                    <img src="../static/2022/icons/footer-company-icons/footer-lg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="commitment-01" class="s-section section--commitment--01">
    <div class="row section-wrapper">
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="commitment-text">
                <h1 class="commitment-text__title">
                    Committed to providing luxury hospitality experience
                </h1>

                <p class="commitment-text__paragraph">
                    We have 10 innovative lofts you can luxuriate in. Each has its own jet pool and sauna for a more private and enlivening luxury hospitality experience. Our rooms are operated through a secure premise-based technology designed and controlled in-house.
                </p>

                <p class="commitment-text__paragraph">
                    Upon check-in, you will be assigned a Luks Device. Order room service, control your room lights, or request for an in-room massage through our Digital Butler.
                </p>

                <p class="commitment-text__paragraph">
                    Everything you need is just a tap away. Our tech is paired with exceptionally trained envoys guided by principles of honesty, integrity, respect, and dedication to service.
                </p>
                  
            </div>
        </div>
        <div class="standard-img col-sm-12 col-md-6 col-lg-7">
            <div class="commitment-media commitment-media--grid">
                <div class="commitment-media__item">
                    <img src="../static/2022/img/commitment/commitment-01--thumb-01.png" alt="Billiard Pool inside Loft">
                </div>
                <div class="commitment-media__item">
                    <img src="../static/2022/img/commitment/commitment-01--thumb-03.png" alt="Loft Tablet">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="commitment-02" class="s-section section--commitment--02">
    <div class="commitment--02-content">
        <div class="commitment--02-content-box">
            <h1 class="commitment-text__title">Committed to wellness</h1>

            <p class="commitment-text__paragraph">
                We value the importance of private spaces and tranquility for a more relaxing and rejuvenating stay.
            </p>
            <p class="commitment-text__paragraph">
                Apart from jet pools and saunas which you can enjoy right in the comforts of your loft, Luks Spa offers a wide range of world-class treatments.
            </p>
            <p class="commitment-text__paragraph">
                Heal and recharge to your heart's desire.
            </p>
        </div>						
    </div>
</section>

<section id="commitment-03" class="s-section section--commitment--03">
    <div class="commitment--03-text">
        <h1 class="commitment-text__title">Committed to sustainability</h1>

        <p class="commitment-text__paragraph">
            We believe that we are responsible for future generations. We acknowledge our three pillars in promoting sustainability:
        </p>

        <ul class="disc">
            <li>Our Technology</li>
            <li>Our Partners</li>
            <li>Our Guests</li>
        </ul>

        <p class="commitment-text__paragraph">Our Guests Our lofts are equipped with energy-saving devices and motion sensor fixtures to lessen our impact on the environment.</p>

        <div class="commitment-text__paragraph">Our partners are trained in environment-friendly hospitality practices that facilitate efficient service.</div>

        <div class="commitment-text__paragraph">Our guests are encouraged to reduce, reuse, and recycle. </div>

        <div class="commitment-text__paragraph">At Luks Lofts Hotel, experience luxury hospitality through technology innovatively designed for you.</div>


    </div>
    <div class="commitment--03-media"></div>
</section>

<section class="lukslofts-contact">
    <div class="row section-wrapper" data-aos="fade-up">
        <div class="col-sm-12 contact-box">
            <h3 class="contact-box-text">LET US BOOK YOUR UNFORGETTABLE STAY</h3>

            <a href="contact.html" class="lukslofts-btn secondary-btn light-sec">Contact Us</a>
        </div>
    </div>
</section>
{{end}}

{{define "script"}}
{{end}}